.elementor-14 .elementor-element.elementor-element-48e9e70:not(.elementor-motion-effects-element-type-background),
.elementor-14 .elementor-element.elementor-element-48e9e70>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-14 .elementor-element.elementor-element-48e9e70>.elementor-background-overlay {
    background-image: url("../../2022/10/LR-120120-tafnet.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14 .elementor-element.elementor-element-48e9e70,
.elementor-14 .elementor-element.elementor-element-48e9e70>.elementor-background-overlay {
    border-radius: 0px 0px 150px 0px;
}

.elementor-14 .elementor-element.elementor-element-48e9e70 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 150px 0px 100px 0px;
}

.elementor-14 .elementor-element.elementor-element-4481634>.elementor-element-populated {
    margin: 0% 50% 0% 0%;
    --e-column-margin-right: 50%;
    --e-column-margin-left: 0%;
}

.elementor-14 .elementor-element.elementor-element-9c78992 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-7db6cb4 {
    color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-7db6cb4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-82fecd6>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-14 .elementor-element.elementor-element-82fecd6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-14 .elementor-element.elementor-element-82fecd6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14 .elementor-element.elementor-element-f6e8492>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-e83d3e2 {
    --spacer-size: 150px;
}

.elementor-14 .elementor-element.elementor-element-e16f0cf>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-color: var( --e-global-color-astglobalcolor0);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 50px;
}

.elementor-14 .elementor-element.elementor-element-e16f0cf>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14 .elementor-element.elementor-element-242b535 {
    text-align: left;
}

.elementor-14 .elementor-element.elementor-element-e82296c {
    padding: 0px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-76df5c3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-14 .elementor-element.elementor-element-76df5c3>.elementor-element-populated,
.elementor-14 .elementor-element.elementor-element-76df5c3>.elementor-element-populated>.elementor-background-overlay,
.elementor-14 .elementor-element.elementor-element-76df5c3>.elementor-background-slideshow {
    border-radius: 16px 16px 16px 16px;
}

.elementor-14 .elementor-element.elementor-element-76df5c3>.elementor-element-populated {
    box-shadow: 0px 64px 200px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 40px 0px 0px;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 0px;
    padding: 0px 32px 32px 32px;
}

.elementor-14 .elementor-element.elementor-element-76df5c3>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14 .elementor-element.elementor-element-917239f {
    text-align: center;
}

.elementor-14 .elementor-element.elementor-element-917239f>.elementor-widget-container {
    margin: 0px 0px 4px 0px;
}

.elementor-14 .elementor-element.elementor-element-c11f663 img {
    filter: brightness( 90%) contrast( 100%) saturate( 100%) blur( 0px) hue-rotate( 0deg);
    border-radius: 16px 16px 16px 16px;
    box-shadow: 32px 32px 64px -24px rgba(0, 0, 0, 0.16);
}

.elementor-14 .elementor-element.elementor-element-c11f663>.elementor-widget-container {
    margin: 0px -32px 12px -32px;
}

.elementor-14 .elementor-element.elementor-element-9d7146d>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-d34656b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-14 .elementor-element.elementor-element-d34656b>.elementor-element-populated,
.elementor-14 .elementor-element.elementor-element-d34656b>.elementor-element-populated>.elementor-background-overlay,
.elementor-14 .elementor-element.elementor-element-d34656b>.elementor-background-slideshow {
    border-radius: 16px 16px 16px 16px;
}

.elementor-14 .elementor-element.elementor-element-d34656b>.elementor-element-populated {
    box-shadow: 0px 64px 200px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 40px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 40px;
    padding: 0px 32px 32px 32px;
}

.elementor-14 .elementor-element.elementor-element-d34656b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14 .elementor-element.elementor-element-c841d2e {
    text-align: center;
}

.elementor-14 .elementor-element.elementor-element-c841d2e>.elementor-widget-container {
    margin: 0px 0px 4px 0px;
}

.elementor-14 .elementor-element.elementor-element-7d8ecea img {
    filter: brightness( 90%) contrast( 100%) saturate( 100%) blur( 0px) hue-rotate( 0deg);
    border-radius: 16px 16px 16px 16px;
    box-shadow: 32px 32px 64px -24px rgba(0, 0, 0, 0.16);
}

.elementor-14 .elementor-element.elementor-element-7d8ecea>.elementor-widget-container {
    margin: 0px -32px 12px -32px;
}

.elementor-14 .elementor-element.elementor-element-c0426cc>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-2b61dc9 {
    padding: 0px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-ad88c58>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-14 .elementor-element.elementor-element-ad88c58>.elementor-element-populated,
.elementor-14 .elementor-element.elementor-element-ad88c58>.elementor-element-populated>.elementor-background-overlay,
.elementor-14 .elementor-element.elementor-element-ad88c58>.elementor-background-slideshow {
    border-radius: 16px 16px 16px 16px;
}

.elementor-14 .elementor-element.elementor-element-ad88c58>.elementor-element-populated {
    box-shadow: 0px 64px 200px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 40px 0px 0px;
    --e-column-margin-right: 40px;
    --e-column-margin-left: 0px;
    padding: 0px 32px 32px 32px;
}

.elementor-14 .elementor-element.elementor-element-ad88c58>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14 .elementor-element.elementor-element-a4a57c4 {
    text-align: center;
}

.elementor-14 .elementor-element.elementor-element-a4a57c4>.elementor-widget-container {
    margin: 0px 0px 4px 0px;
}

.elementor-14 .elementor-element.elementor-element-8ade090 {
    text-align: center;
}

.elementor-14 .elementor-element.elementor-element-8ade090 img {
    filter: brightness( 90%) contrast( 100%) saturate( 100%) blur( 0px) hue-rotate( 0deg);
    border-radius: 16px 16px 16px 16px;
    box-shadow: 32px 32px 64px -24px rgba(0, 0, 0, 0.16);
}

.elementor-14 .elementor-element.elementor-element-8ade090>.elementor-widget-container {
    margin: 0px -32px 12px -32px;
}

.elementor-14 .elementor-element.elementor-element-7325b1b>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-14 .elementor-element.elementor-element-85f39fa>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 10px;
}

.elementor-14 .elementor-element.elementor-element-85f39fa>.elementor-element-populated,
.elementor-14 .elementor-element.elementor-element-85f39fa>.elementor-element-populated>.elementor-background-overlay,
.elementor-14 .elementor-element.elementor-element-85f39fa>.elementor-background-slideshow {
    border-radius: 16px 16px 16px 16px;
}

.elementor-14 .elementor-element.elementor-element-85f39fa>.elementor-element-populated {
    box-shadow: 0px 64px 200px 0px rgba(0, 0, 0, 0.08);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 40px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 40px;
    padding: 0px 32px 32px 32px;
}

.elementor-14 .elementor-element.elementor-element-85f39fa>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14 .elementor-element.elementor-element-028ad9e {
    text-align: center;
}

.elementor-14 .elementor-element.elementor-element-028ad9e>.elementor-widget-container {
    margin: 0px 0px 4px 0px;
}

.elementor-14 .elementor-element.elementor-element-5bcd4db img {
    filter: brightness( 90%) contrast( 100%) saturate( 100%) blur( 0px) hue-rotate( 0deg);
    border-radius: 16px 16px 16px 16px;
    box-shadow: 32px 32px 64px -24px rgba(0, 0, 0, 0.16);
}

.elementor-14 .elementor-element.elementor-element-5bcd4db>.elementor-widget-container {
    margin: 0px -32px 12px -32px;
}

.elementor-14 .elementor-element.elementor-element-3caa16e>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-14 .elementor-element.elementor-element-4481634 {
        width: 80%;
    }
}

@media(max-width:1024px) {
    .elementor-14 .elementor-element.elementor-element-48e9e70 {
        padding: 150px 50px 50px 50px;
    }
    .elementor-14 .elementor-element.elementor-element-4481634>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-14 .elementor-element.elementor-element-7db6cb4>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-14 .elementor-element.elementor-element-82fecd6 {
        padding: 50px 50px 50px 50px;
    }
    .elementor-14 .elementor-element.elementor-element-e82296c {
        padding: 0px 30px 0px 30px;
    }
    .elementor-14 .elementor-element.elementor-element-76df5c3>.elementor-element-populated {
        margin: 0px 16px 0px 0px;
        --e-column-margin-right: 16px;
        --e-column-margin-left: 0px;
        padding: 0px 24px 24px 24px;
    }
    .elementor-14 .elementor-element.elementor-element-c11f663>.elementor-widget-container {
        margin: 0px -24px 8px -24px;
    }
    .elementor-14 .elementor-element.elementor-element-9d7146d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-14 .elementor-element.elementor-element-d34656b>.elementor-element-populated {
        margin: 0px 0px 0px 16px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 16px;
        padding: 0px 24px 24px 24px;
    }
    .elementor-14 .elementor-element.elementor-element-7d8ecea>.elementor-widget-container {
        margin: 0px -24px 8px -24px;
    }
    .elementor-14 .elementor-element.elementor-element-c0426cc>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-14 .elementor-element.elementor-element-2b61dc9 {
        padding: 0px 30px 0px 30px;
    }
    .elementor-14 .elementor-element.elementor-element-ad88c58>.elementor-element-populated {
        margin: 0px 16px 0px 0px;
        --e-column-margin-right: 16px;
        --e-column-margin-left: 0px;
        padding: 0px 24px 24px 24px;
    }
    .elementor-14 .elementor-element.elementor-element-8ade090>.elementor-widget-container {
        margin: 0px -24px 8px -24px;
    }
    .elementor-14 .elementor-element.elementor-element-7325b1b>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-14 .elementor-element.elementor-element-85f39fa>.elementor-element-populated {
        margin: 0px 0px 0px 16px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 16px;
        padding: 0px 24px 24px 24px;
    }
    .elementor-14 .elementor-element.elementor-element-5bcd4db>.elementor-widget-container {
        margin: 0px -24px 8px -24px;
    }
    .elementor-14 .elementor-element.elementor-element-3caa16e>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-14 .elementor-element.elementor-element-48e9e70 {
        padding: 130px 30px 50px 30px;
    }
    .elementor-14 .elementor-element.elementor-element-4481634>.elementor-element-populated {
        margin: 0px 30px 0px 0px;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0px;
    }
    .elementor-14 .elementor-element.elementor-element-7db6cb4>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-14 .elementor-element.elementor-element-82fecd6 {
        padding: 50px 30px 50px 30px;
    }
    .elementor-14 .elementor-element.elementor-element-e16f0cf>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 30px;
    }
    .elementor-14 .elementor-element.elementor-element-242b535>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-14 .elementor-element.elementor-element-76df5c3>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-14 .elementor-element.elementor-element-d34656b>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-14 .elementor-element.elementor-element-ad88c58>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-14 .elementor-element.elementor-element-85f39fa>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}