.elementor-16 .elementor-element.elementor-element-8509183>.elementor-container {
    max-width: 1100px;
}

.elementor-16 .elementor-element.elementor-element-8509183:not(.elementor-motion-effects-element-type-background),
.elementor-16 .elementor-element.elementor-element-8509183>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-16 .elementor-element.elementor-element-8509183>.elementor-background-overlay {
    background-image: url("../../2022/10/Tatneft-Pumps-750x375-1.jpg");
    background-position: center center;
    background-size: cover;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-16 .elementor-element.elementor-element-8509183,
.elementor-16 .elementor-element.elementor-element-8509183>.elementor-background-overlay {
    border-radius: 0px 0px 150px 0px;
}

.elementor-16 .elementor-element.elementor-element-8509183 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 150px 0px 100px 0px;
}

.elementor-16 .elementor-element.elementor-element-cdda969>.elementor-element-populated {
    margin: 0% 50% 0% 0%;
    --e-column-margin-right: 50%;
    --e-column-margin-left: 0%;
}

.elementor-16 .elementor-element.elementor-element-7ebbb06 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-16 .elementor-element.elementor-element-33c0470 {
    color: #FFFFFF;
}

.elementor-16 .elementor-element.elementor-element-33c0470>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-d9367c0>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-16 .elementor-element.elementor-element-d9367c0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-16 .elementor-element.elementor-element-d9367c0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-16 .elementor-element.elementor-element-a2f3e59 {
    --spacer-size: 50px;
}

.elementor-16 .elementor-element.elementor-element-fb2a873>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    border-color: var( --e-global-color-astglobalcolor0);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 50px;
}

.elementor-16 .elementor-element.elementor-element-fb2a873>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-16 .elementor-element.elementor-element-2f50d3b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-16 .elementor-element.elementor-element-2f50d3b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-16 .elementor-element.elementor-element-35e591a>.elementor-element-populated {
    margin: 0px 50px 0px 0px;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0px;
}

.elementor-16 .elementor-element.elementor-element-79737da {
    text-align: left;
    width: auto;
    max-width: auto;
    top: -168px;
}

.elementor-16 .elementor-element.elementor-element-79737da img {
    width: 100px;
}

body:not(.rtl) .elementor-16 .elementor-element.elementor-element-79737da {
    left: -148px;
}

body.rtl .elementor-16 .elementor-element.elementor-element-79737da {
    right: -148px;
}

.elementor-16 .elementor-element.elementor-element-134ea01>.elementor-element-populated {
    margin: 0px 0px 0px 50px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 50px;
    padding: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-1aaf574 .elementor-tab-title {
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0.1);
    padding: 20px 20px 20px 20px;
}

.elementor-16 .elementor-element.elementor-element-1aaf574 .elementor-tab-content {
    border-width: 0px;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    padding: 0px 20px 20px 20px;
}

.elementor-16 .elementor-element.elementor-element-1aaf574 .elementor-toggle-item:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-16 .elementor-element.elementor-element-1aaf574 .elementor-toggle-item {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
}

.elementor-16 .elementor-element.elementor-element-1aaf574 .elementor-toggle-title {
    font-size: 15px;
}

.elementor-16 .elementor-element.elementor-element-1aaf574 .elementor-toggle-icon.elementor-toggle-icon-left {
    margin-right: 0px;
}

.elementor-16 .elementor-element.elementor-element-1aaf574 .elementor-toggle-icon.elementor-toggle-icon-right {
    margin-left: 0px;
}

@media(min-width:768px) {
    .elementor-16 .elementor-element.elementor-element-cdd4e1d {
        width: 39.991%;
    }
    .elementor-16 .elementor-element.elementor-element-fb2a873 {
        width: 60.009%;
    }
}

@media(max-width:1024px) {
    .elementor-16 .elementor-element.elementor-element-8509183 {
        padding: 150px 50px 50px 50px;
    }
    .elementor-16 .elementor-element.elementor-element-cdda969>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-16 .elementor-element.elementor-element-33c0470>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-d9367c0 {
        padding: 50px 50px 50px 50px;
    }
    .elementor-16 .elementor-element.elementor-element-2f50d3b {
        padding: 50px 50px 50px 50px;
    }
    .elementor-16 .elementor-element.elementor-element-35e591a>.elementor-element-populated {
        margin: 0% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
    }
    .elementor-16 .elementor-element.elementor-element-79737da img {
        width: 60px;
    }
    body:not(.rtl) .elementor-16 .elementor-element.elementor-element-79737da {
        left: -70px;
    }
    body.rtl .elementor-16 .elementor-element.elementor-element-79737da {
        right: -70px;
    }
    .elementor-16 .elementor-element.elementor-element-79737da {
        top: -68px;
    }
    .elementor-16 .elementor-element.elementor-element-134ea01>.elementor-element-populated {
        margin: 0px 0px 0px 20px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 20px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-1aaf574 .elementor-tab-content {
        font-size: 13px;
    }
}

@media(max-width:767px) {
    .elementor-16 .elementor-element.elementor-element-8509183 {
        padding: 130px 30px 50px 30px;
    }
    .elementor-16 .elementor-element.elementor-element-cdda969>.elementor-element-populated {
        margin: 0px 30px 0px 0px;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0px;
    }
    .elementor-16 .elementor-element.elementor-element-33c0470>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-d9367c0 {
        padding: 50px 30px 50px 30px;
    }
    .elementor-16 .elementor-element.elementor-element-fb2a873>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 30px;
    }
    .elementor-16 .elementor-element.elementor-element-f0f6d6a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-aaadebd>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-2f50d3b {
        padding: 50px 30px 30px 30px;
    }
    .elementor-16 .elementor-element.elementor-element-35e591a>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    body:not(.rtl) .elementor-16 .elementor-element.elementor-element-79737da {
        left: -67px;
    }
    body.rtl .elementor-16 .elementor-element.elementor-element-79737da {
        right: -67px;
    }
    .elementor-16 .elementor-element.elementor-element-79737da {
        top: -85px;
    }
    .elementor-16 .elementor-element.elementor-element-c8ed1fc>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-134ea01>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-16 .elementor-element.elementor-element-1aaf574 .elementor-toggle-title {
        font-size: 14px;
    }
    .elementor-16 .elementor-element.elementor-element-1aaf574 .elementor-tab-content {
        font-size: 13px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-16 .elementor-element.elementor-element-cdda969 {
        width: 80%;
    }
    .elementor-16 .elementor-element.elementor-element-35e591a {
        width: 30%;
    }
    .elementor-16 .elementor-element.elementor-element-134ea01 {
        width: 70%;
    }
}